div.App{
 background-image: url("https://millikin.edu/sites/default/files/styles/hero_slide__1400_x_680_/public/meaningful_hero_0.jpg?itok=1BE-z2Dz");
 color: #000000;
 background-position: center;

}
h1{
  font-family: Georgia, serif;
}
div.makeStyles-greeting-4{
  background-image: url("https://64.media.tumblr.com/4a960a405495da1ff190f6ef8042f134/tumblr_pk8767vq3o1rhk4rn_540.gifv");
  background-position: center;

}
